.App {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aliceblue; */
  margin: 1rem;
  min-height: 50vh;
  min-width: 60vw;
  border: 1px solid #123456;
  padding-top: 1rem;
}

.form {
  display: flex;
  align-items: center;
  margin: 1rem;
}
input {
  display: flex;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #c5c5c5;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.submit {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid brown;
}
.item-conainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.todo-item {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cyan;
  width: 60%;
  margin: 1rem 0;
  border-radius: 5px;
  position: relative;
}
.delete {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
}
